.searchBar {
  position: fixed;
  left: 50%;
  transform: translateX(-55%);
  z-index: 10;
  top: 10px;
}

.searchBar form {
  display: flex;
}

.searchBar input {
  width: 330px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  margin-left: 20px;
  transition: 300ms;
}

.searchBar input:focus {
  border-radius: 5px;
  border-bottom: 2px solid cornflowerblue;
}

.searchBar svg {
  position: absolute;
  top: 12px;
  right: 10px;
  color: gray;
  z-index: 11;
}

.list {
  position: fixed;
  width: 330px;
  height: fit-content;
  max-height: 40vh;
  top: 45px;
  left: 55%;
  margin-left: -7.5px;
  transform: translate(-50%);
  background-color: #84868471;
  z-index: 10;
  overflow: scroll;
  border-radius: 5px;
}

.list ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.list li {
  width: 200px;
  margin: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 500;
}

.element {
  display: flex;
  color: #000;
  margin: 5px;
  cursor: pointer;
}

.element .charImg {
  width: 45px;
  height: 43px;
  left: 5px;
}

.element img {
  position: absolute;
  right: 5px;
  width: 70px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.searchBar .all {
  position: absolute;
  right: -90px;
  top: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 0;
  color: white;
  text-wrap: nowrap;
}

@media (max-width: 900px) {
  .searchBar input {
    width: 220px;
    font-size: 12px;
  }
}
